/* :root {
  --pico-font-size: 90%;
} */

body {
  padding: 24px;
}

body > header,
body > main,
body > footer {
  max-width: 700px;
  margin-inline: auto;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: var(--pico-block-spacing-vertical)
    var(--pico-block-spacing-horizontal);
}

section,
main,
header {
  margin-bottom: calc(var(--pico-spacing) * 2);
}

datalist#durations {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 4px - 1.25rem);
  margin-top: -0.25rem;
  margin-inline: auto;
}

#thumbs {
  display: flex;
}

.thumb-holder {
  border: 1px solid;
}
